
body{
  background-color: rgb(219, 230, 247);
}
.cabeca{
  position: relative;
  width: 2000px;
  margin: 0 auto;
  font-size: 35px;
  padding-left: 15%;
}
nav{
  top: 110px;
  right: 0;
}
nav li{
  display: inline;
  margin: 0 0 0 15px;
}
nav a{
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
nav a:hover{
  color: #C78C19;
  text-decoration: underline;
}
h1 {
  padding-top: 2%;
    color: #180109;
    font-size: 30px;
  }  
  .imagensCafe{
    text-align: center;
  }
 
        #banner {
          background-color: rgb(88, 179, 240);
            width: 100%;
            height: 150px;
            color: #000000;
            text-align: center;
            line-height: 135px;
            position: relative;
            overflow: hidden;
            font-size: 40px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        #mensagem {
            position: absolute;
            left: -200px; /* Inicialmente, a mensagem está fora da tela à esquerda */
            white-space: nowrap;
        }
   

        /* Estilos para o contêiner das imagens */
        .imagem {
          display: flex; /* Use flexbox para alinhar as imagens lado a lado */
          justify-content: center; /* Centralize horizontalmente */
      }

      /* Estilos para cada imagem */
      .imagem img {
          width: 300px; /* Defina a largura desejada para as imagens */
          margin-right: 20px; /* Adicione um espaço entre as imagens (opcional) */
          margin-top: 20px; /* adiciona espaco entre o paragrafo de cima*/
      }
      p {
        font-size: 18px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      #img1 {
        position: absolute;
        width: 100px;
        height: 100px;
      }
      #personagem{
        width: 350px;
        height: 350px;
        padding-top: 80px;
      }
      form{
        margin: 40px 0;
      }
      form label, form legend{
        font-size: 20px;
        margin: 0 0 10px;
      }
      p{

        font-size: 30px;
        font-weight: bold;
      }
      #p1 {
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      #forms {
        font-size: 22px;
        font-weight: bold;
      }